/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  /* Color scheme */
  --color-primary: #124ad8;
  --color-primary-light: #1247d1;
  --color-primary-dark: #0043ce;
  --color-secondary: #b1ff05;
  --color-accent: #4f73c7;
  --color-primary-overlay: #124ad8bc;

  /* Neutral colors */
  --color-text: #1d1d1d;
  --color-text-light: #565656;
  --color-background: #ffffff;
  --color-background-alt: #f8f9fa;
  --color-border: #e0e0e0;

  /* Typography */
  --font-family-primary: "Roboto", sans-serif;

  --font-size-base: 1rem; /* 16px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 3.25rem; /* 36px */

  /* Spacing */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-2xl: 3rem; /* 48px */
  --spacing-3xl: 4rem;

  /* Border radius */
  --border-radius-sm: 0.25rem; /* 4px */
  --border-radius-md: 0.5rem; /* 8px */
  --border-radius-lg: 1rem; /* 16px */
  --border-radius-full: 9999px;

  /* Box shadows */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.12);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  /* assets */
  --bg-img: url("/assets/vecteezy_blue-vector-abstract-textured-polygonal-background_22130178.jpg");
}

/* BASE STYLES (Mobile First) */
body {
  height: 100vh;
  background-color: var(--color-background-alt);
  font-family: var(--font-family-primary);
  color: var(--color-text);
}
.banner {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

.content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding-top: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
  flex-direction: column;
  gap: var(--spacing-2xl);
}

.heading-and-btns {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.bottom-elements {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.reviews-container {
  display: flex;
}

.reviews {
  line-height: 0.8rem;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-md);
  box-shadow: var(--shadow-sm);
  border-radius: var(--border-radius-full);
}

.reviews i:nth-child(2) {
  color: rgb(255, 204, 0);
}

.reviews i:nth-child(4),
.reviews i:nth-child(5) {
  color: var(--color-primary-light);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.crop-container {
  overflow: hidden;
}

.main-heading {
  font-size: var(--font-size-4xl);
  line-height: 3rem;
}

.main-heading span {
  font-style: italic;
  font-weight: 400;
}

.buttons {
  display: flex;
  gap: var(--spacing-sm);
}

button {
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--border-radius-full);
  font-weight: 500;
  border: unset;
}

button:hover {
  cursor: pointer;
  filter: brightness(95%);
}

.buttons .primary {
  background-color: var(--color-secondary);
}

.buttons .secondary {
  background-color: var(--color-background-alt);
  border: 1px solid var(--color-border);
}

.content p {
  color: var(--color-text-light);
}

.logos {
  display: flex;
  gap: var(--spacing-md);
}

.logo-container {
  height: 2rem;
  /* background-color: green; */
}

.logo-container img {
  object-fit: contain;
  height: 100%;
}

.bottom-elements p {
  font-size: var(--font-size-sm);
  width: 70%;
}

/* Hero styling */

.hero {
  background-color: var(--color-primary);
  background-image: linear-gradient(
      var(--color-primary-overlay),
      var(--color-primary-overlay)
    ),
    var(--bg-img);
  object-fit: cover;
  display: grid;
  gap: var(--spacing-md);
  padding: var(--spacing-3xl);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.grid-container {
  border-radius: var(--border-radius-lg);
  background-color: var(--color-background);
}

.grid-container:nth-child(1) {
  grid-column: span 3;
}

.grid-container:nth-child(2) {
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
}

.grid-container:nth-child(3) {
  grid-column: 2 / span 4; /* Start at column 2 and span 4 columns */
  grid-row: 3 / span 3;
}

.grid-container:nth-child(4) {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
}

.grid-container:nth-child(5) {
  grid-column: 4 / span 3;
  grid-row: 7 / span 1;
}

/* MEDIA QUERIES - TABLET */
@media (min-width: 768px) {
  .banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
  }
}

/* MEDIA QUERIES - DESKTOP */
@media (min-width: 1024px) {
}
